/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

section {
	margin-top: 100px;
}
.login-form{
	margin-top: 250px;
	}

/*.end_user_login-form{
	margin-top: 100px;
    }

.end_users_mypage {
    margin-top: 100px;
    }

.end_users_all {
	margin-top: 100px;
} */

.confirm {
	margin-top: 300px;
}

header .navbar-left li {
  font-size: 20px;
  color: white;
}
textarea{
    vertical-align:top;
}
.images {
	display: inline-block;
}